# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
dist/
build/

# Data & artifacts
backend/data/*.csv
backend/artifacts/*.joblib

# Node
node_modules/
.next/
frontend/.next/
frontend/node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Env
.env
